$advantages-color: #182533;

.names {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: $advantages-color;
  border-radius: 5px;
  width: 12rem;
  height: auto;
  padding: .75rem;
  margin: 1rem auto;

  &__item {
    padding: .5rem;
    background: #0E1621;
    border-radius: .5rem;
    margin-top: .75rem;
  }

  input {
    height: 2rem;
    outline: none;
    padding-left: .5rem;
    margin: 1rem 0;
  }

  button {
    align-self: center;
    cursor: pointer;
    outline: none;
    border: none;
    padding: .5rem;
    font-weight: bold;
    border-radius: .5rem;
    width: 60%;
    color: white;
    background-color: blueviolet;
  }
}