@import "./../components/Message/message";
@import "./../components/Advantages/advantages";
@import "./../components/Names/names";
@import "./../components/Navbar/navbar";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


:root {
  box-sizing: border-box;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}

body {
  overflow-x: hidden;
}

.App {
  background: #0E1621;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}