@import "./../components/Message/message";
@import "./../components/Advantages/advantages";
@import "./../components/Names/names";
@import "./../components/Navbar/navbar";
@import "./../components/Tasks/tasks";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


:root {
  box-sizing: border-box;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}

body {
  overflow-x: hidden;
}

.App {
  background: #0E1621;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.button {
  outline: none;
  border: none;
  background: none;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: .2s;

  &:active {
    transform: scale(.95);
  }

  &.filter-active {
    background-color: blueviolet;
  }

  &--todo {
    border-radius: .5rem;
    background-color: #fb6158;
    color: white;
    padding: .25rem 1rem;

    & + .button--todo {
      margin-left: .5rem;
    }
  }

  &--hide {
    border-radius: .5rem;
    background-color: dodgerblue;
    color: white;
    padding: .25rem 1rem;
    margin-left: .5rem;
  }

  &--delete {
    border-radius: .5rem;
    background-color: red;
    color: white;
    padding: .25rem 1rem;
    margin-left: .5rem;
  }
}

.loading {

}